<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
	<title><%= title -%></title>
</head>

<body>
	<%- data["main"]["contents"].each {|line| -%>
		<h2><%= line["name"] -%></h2>
		<%- data["m_list"].each {|list| -%>
			<%= "<a href=\"#{get_param(line, list)}\">#{list["name"]}</a>" -%>
		<%- } -%>
		</p>
	<%- } -%>
</body>
</html>
