<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8">
	<title><%= data["keijyou_report"]["title"] %></title>
	<link rel="stylesheet" href="../css/utiwake.css" type="text/css" />
</head>
<div id="contents">
<body>
	<div class="title">
		<h1><%= m_list.getudo %>　<%= data["keijyou_report"]["title2"] %></h1>
		<h2 style="margin-left:20px;">営業所: <%= m_list.division %></h2>
	</div>
	<table id="table-border" width="780" border="1"  align="center">
		<tr id="table-border">
			<th scope="col" width="70">顧客id</th>
			<th scope="col" width="160">項目</th>
			<th scope="col" width="80">検収計上金額(外税)</th>
			<th scope="col" width="80">原価計上金額</th>
			<th scope="col" width="80">請求区分</th>
			<th scope="col">備考</th>
		</tr>
		<tr>
			<td><%= honten_id %></td>
			<td><%= m_koumoku %></td>
			<td class="yen"><%= camma(m_list.total_price) %></td>
			<td class="yen"><%= camma(m_list.total_cost) %></td>
			<td class="num"><%= data["m_div_name"] %></td>
			<td></td>
		</tr>
		<tr id="table-border">
			<th scope="col">顧客id</th>
			<th scope="col">会社名</th>
			<th scope="col">研修計上金額(内税)</th>
			<th scope="col">原価計上金額</th>
			<th scope="col">請求区分</th>
			<th scope="col"></th>
		</tr>
		<%- t_lists.each{|utiwake| -%>
		<tr>
			<td><%= utiwake.lines[0].honten_id %></td>
			<td><%= utiwake.honten %></td>
			<td class="yen"><%= camma(utiwake.total_price_with_tax) %></td>
			<td class="yen">0</td>
			<td class="num"><%= data["t_div_name"] %></td>
			<td></td>
		</tr>
		<%- } -%>
		<%- g_lists.each{|utiwake| -%>
		<tr>
			<td><%= utiwake.lines[0].honten_id %></td>
			<td><%= utiwake.honten %></td>
			<td></td>
			<td></td>
			<td class="num"><%= data["g_div_name"] %></td>
			<td></td>
		</tr>
		<%- } -%>
		<tr>
			<td>800000</td>
			<td>仕入れ</td>
			<td class="yen">0</td>
			<td class="yen"><%= camma(cost_of_t_and_g) %></td>
			<td>請求</td>
			<td></td>
		</tr>
	</table>
</body>
</div>
</html>

