<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<title>管球一覧</title>
<style type="text/css">
#contents {
	width:950;
}
div.title * {
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	font-style: normal;
	font-weight: normal;
}
div.title h1 {
	font-size: 22px;
	text-align: center;
	margin-bottom: 20px;
}
div.title h2 {
	font-size:14px;
	background-color:#12DFF0;
	margin-left:80px;
	margin-bottom:5px;
	width:250px;
	float:left;
}
body table tr th {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
}
td {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
}
table #total {
	font-size: 14px;
}
.yen {
	text-align: right;
	padding-right: 5px;
}
.num {
	text-align: center;
}
#table-border {
	border-collapse:collapse;
	border:2px solid #6A6A6A;
}
</style>
</head>
<div id="contents">
  <body>
  <div class="title">
		<h1><%= u.getudo %>　　丸広百貨店<%= u.customer %>様　　管球類請求内訳</h1>
		<h2>営業所: <%= u.division %></h2>
    <h2 style="margin-left:0px;">※価格は全て税抜きとなっております</h2>
  </div>
  <table style="clear:both" id="table-border" width="560" border="1" align="center">
    <tr id="table-border">
      <th scope="col">交換日</th>
      <th scope="col">売場名</th>
      <th scope="col">品番</th>
      <th scope="col">単価</th>
      <th scope="col">数量</th>
      <th scope="col">金額</th>
    </tr>
		<%- u.lines.each{|line| -%>
			<tr>
				<td><%= line.day %></td>
				<td><%= line.place %></td>
				<td><%= line.item %></td>
				<td class="yen"><%= camma(line.price) %></td>
				<td class="num"><%= camma(line.units) %></td>
				<td class="yen"><%= camma(line.sum) %></td>
    	</tr>
		<%- } -%>
    <tr id="table-border">
      <th colspan="5">合計(税抜き)</th>
			<td class="yen"><%= camma(u.total_plice) %></td>
    </tr>
  </table>
  </body>
</div>
</html>
